[submodule "zsh/themes/powerlevel10k"]
	path = zsh/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "zsh/plugins/zsh-autosuggestions"]
	path = zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/plugins/fast-syntax-highlighting"]
	path = zsh/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting
[submodule "zsh/plugins/OhMyZsh-full-autoupdate"]
	path = zsh/plugins/ohmyzsh-full-autoupdate
	url = https://github.com/Pilaton/OhMyZsh-full-autoupdate.git
[submodule "vim/vim/bundle/vim-pathogen"]
	path = vim/vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/vim/bundle/colorizer"]
	path = vim/vim/bundle/colorizer
	url = https://github.com/lilydjwg/colorizer.git
[submodule "vim/vim/bundle/zsh-syntax-highlighting"]
	path = vim/vim/bundle/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "vim/vim/bundle/dracula"]
	path = vim/vim/bundle/dracula
	url = https://github.com/dracula/vim.git
[submodule "vim/vim/bundle/nerdtree"]
	path = vim/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/vim/bundle/gruvbox"]
	path = vim/vim/bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "vim/vim/bundle/syntastic"]
	path = vim/vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/vim/bundle/vim-airline"]
	path = vim/vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "vim/vim/bundle/vim-fugitive"]
	path = vim/vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/vim/bundle/vim-sensible"]
	path = vim/vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vim/vim/bundle/vim-signify"]
	path = vim/vim/bundle/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "vim/vim/bundle/ack.vim"]
	path = vim/vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/vim/bundle/ctrlp.vim"]
	path = vim/vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "vim/vim/bundle/taglist.vim"]
	path = vim/vim/bundle/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "vim/vim/bundle/vim-l9"]
	path = vim/vim/bundle/vim-l9
	url = https://github.com/eparreno/vim-l9.git
[submodule "vim/vim/bundle/molokai"]
	path = vim/vim/bundle/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "vim/vim/bundle/vim-autoclose"]
	path = vim/vim/bundle/vim-autoclose
	url = https://github.com/Townk/vim-autoclose.git
[submodule "vim/vim/bundle/vim-auto-save"]
	path = vim/vim/bundle/vim-auto-save
	url = https://github.com/vim-scripts/vim-auto-save.git
[submodule "vim/vim/bundle/vim-unimpaired"]
	path = vim/vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/vim/bundle/vim-signature"]
	path = vim/vim/bundle/vim-signature
	url = https://github.com/kshenoy/vim-signature.git
[submodule "vim/vim/bundle/rainbow_parentheses.vim"]
	path = vim/vim/bundle/rainbow_parentheses.vim
	url = https://github.com/kien/rainbow_parentheses.vim
[submodule "libs/scm_breeze"]
	path = libs/scm_breeze
	url = https://github.com/scmbreeze/scm_breeze.git
[submodule "libs/dotbot-if"]
	path = libs/dotbot-if
	url = https://github.com/wonderbeyond/dotbot-if.git
[submodule "libs/dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "libs/homebrew-install"]
	path = libs/homebrew-install
	url = https://github.com/Homebrew/install.git
[submodule "dotbot-yum"]
	path = libs/dotbot-yum
	url = https://gitlab.com/flyingchipmunk/dotbot-yum.git
[submodule "libs/fzf"]
	path = libs/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "libs/dotbot-yum"]
	path = libs/dotbot-yum
	url = https://gitlab.com/flyingchipmunk/dotbot-yum.git
[submodule "libs/dotbot-if"]
	path = libs/dotbot-if
	url = https://github.com/smergler/dotbot-if.git
[submodule "libs/dotbot-multi-install"]
	path = libs/dotbot-multi-install
	url = git@github.com:smergler/dotbot-multi-install.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm

